abc.txt filter=git-crypt diff=git-crypt\ndo-not-touch/** filter=git-crypt diff=git-crypt
abc.txt filter=git-crypt diff=git-crypt\ndo-not-touch/** filter=git-crypt diff=git-crypt
abc.txt filter=git-crypt diff=git-crypt\ndo-not-touch/** filter=git-crypt diff=git-crypt
